body{
    background-color:white;
    color:black
}
.mydark{
    background-color:black;
    color:white
}
#coupon{
    height:200px;
    width:200px;
    border: black;
    visibility: hidden;
    z-index:100;
    margin-top: 13%;
    margin-left: 15%;
    position: absolute;
}
#btn{
 /* margin-right: 40%;
 z-index: 100%; */
}

p{
    font-size: 13px;
}
a{
    text-decoration: none;
}
h3{
    text-align: center;
}
.social-icons{
    display: inline-flex;
    padding: 0% 47.5%;
    font-size: 25px;
    margin-bottom: 1%;
}
.ReadMore{
    width: 100%;
    margin-bottom: 1%;
    padding:25px;
}
.ReadMore h1{
    margin-right: 5%;
}
.ReadMore h3{
    margin-top: 0.5%;
    margin-right: 5%;
}
.ReadMore a{
    font-size: 25px ;
}
h2{
    text-align: center;
}
.footer_wrap ul li{
display:table-cell;
text-align: center;
display: inline-flex;
font-size: 16px;
padding:0% 6%;
}
.footer_2 ul li{
    display:table-cell;
    text-align: center;
    display: inline-flex;
    font-size: 12px;
    padding:1% 4%;
}

.footer_3{
    display: inline-flex;
}
h6{
    text-align: center;
}
.weather{
.card{
    width: 200px;
    border-radius: 5%;
    background: #28346c;
    color: #fff;
    margin-left:3%;
  }
  .card:hover { transform: scale(1.1); }
  .card-img-top{
    width:44%
  }
  
  .headingh1{
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px #28346c;
  }
  
  .max{
    color: rgb(166, 226, 236);
    font-weight: bold;
  }
  .min{
    color:rgb(104, 155, 241);
    font-weight: bold;
  }
  .day{
    color: rgb(234, 255, 124);
  }
  .humid{
    color:rgb(44, 112, 105);
  }
  .topTemp{
    font-size:26px;
    color:white;
    font-weight: bold;
  }
